.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 777;
  width: 100%;
  height: 50px;
  background-color: blueviolet;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.search-form__input {
  display: block;
  width: 200px;
  height: 30px;
  margin-right: 5px;
  padding-left: 7px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  transition: background-color 250ms linear, color 250ms linear;

  &:focus {
    background-color: black;
  }

  &::placeholder {
    color: white;
  }
}

.search-form__btn {
  height: 30px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
  background-color: transparent;
  border: 1px solid white;
  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:active {
    color: black;
    background-color: white;
  }
}