.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
  margin-top: 55px;
  width: 100%;
  height: 100%;

  @media screen and (min-width: 1200px) {
    gap: 7px;
  }
}

.photo-card {
  display: flex;
  flex-direction: column;
  width: calc((100% - 5px) / 2);
  height: 250px;
  background-color: white;
  border: 2px solid rgb(75, 73, 75);

  @media screen and (min-width: 768px) {
    width: calc((100% - 10px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 25px) / 4);
  }
}

.photo-card > img {
  object-fit: cover;
  width: 400px;
  height: 200px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 2px 5px;
  font-size: 14px;
  font-style: oblique;
  color: white;

  background-color: rgb(65, 64, 66);

  @media screen and (min-width: 768px) {
    flex-basis: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 50px;
  }
}